.page-container {
    height: 100vh;
    width: 100vw;
}

.page-container .main-section {
    background-color: rgba(0,0,0,0.8);
    height: 100%;
}

.page-container .title-layer {
    display: flex;
    height: 80%;
    place-content: center;
    align-items: center;
}